.parent {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .list {
    grid-area: 1 / 4 / 4 / 10;

  }


  .card{
    grid-area: 1 / 2 / 2 / 3;
    max-width: 700px;
    width: 100%;

    border: 2px solid rgba(0, 0, 0, 0.1); /* Borde suave */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efecto de sombra difusa */
    padding: 20px; /* Espaciado interno */
    background-color: #fff; /* Fondo blanco */


  }
  

  .alert{
    color: red;
  }

  